[submodule "genghisapp"]
	path = genghisapp
	url = git@github.com:Dev-Crea/genghisapp.git
[submodule "taskboard"]
	path = taskboard
	url = git@github.com:Dev-Crea/taskboard.git
[submodule "rails"]
	path = rails
	url = git@github.com:Dev-Crea/rails.git
[submodule "docker-bundle"]
	path = docker-bundle
	url = git@github.com:Dev-Crea/docker-bundle.git
